@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Müşteri Bilgisi</th>
            <th>Masa Numarası</th>
            <th>Sipariş Bilgileri</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tbodyShopList">
        @*  @foreach(var item in Model)
        {
        var shopListData = JsonSerializer.Deserialize<List<ShopListAddShoppingCardProductsDto>>(item.ShopListProductsData);

        float topTotalPrice = 0;

        <tr>
        <td>
        <p class="fw-normal mb-1">@item.OrderCustomerName</p>
        </td>
        <td>
        <p class="fw-normal mb-1">@item.OrderTableNumber</p>
        </td>
        <td>
        @foreach (var product in shopListData)
        {
        var totalPrice = @product.Piece * @product.Price;

        @topTotalPrice += @totalPrice;

        <span class="badge badge-success rounded-pill d-inline">@product.Piece @product.ProductName=@totalPrice TL</span>

        }

        <span class="badge badge-primary rounded-pill d-inline">Total: @topTotalPrice TL</span>
        </td>
        <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
        Edit
        </button>
        </td>
        </tr>
        }*@

    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(() => {
        let connection = new signalR.HubConnectionBuilder().withUrl("/notify").build()

        connection.start()

        connection.on("refreshShoplists", function () {
            loadData();
        })

        loadData();

        function loadData() {
            var tr = '';

            $.ajax({
                url: 'Admin/GetShopLists',
                type: 'GET',
                success: function (result) {

                    $.each(result, (k, v) => {
                        var shopListData = JSON.parse(v.shopListProductsData);
                        var topTotalPrice = 0;

                        tr = tr + `<tr>

                                    <td><p class="fw-normal mb-1">${v.orderCustomerName}</p></td>
                                    <td><p class="fw-normal mb-1">${v.orderTableNumber}</p></td>

        

                                    <td>${v.shopListProductsData}</td>
                                    </tr>`
                    })

                    $("#tbodyShopList").html(tr);


                },
                error: function (exc) {

                }
            });
        }
    })

</script>